name: CI

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET (global.json)
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - name: Restore
        run: dotnet restore ./BlazorApp/BlazorApp.csproj

      - name: Build
        run: dotnet build ./BlazorApp/BlazorApp.csproj --configuration Release --no-restore
